@model IEnumerable<QuickBetCore.Models.UserListViewModel>
@using QuickBetCore.Models;

<div class="table-responsive">
    <table class="table" id="datatable">
        <thead class="thead-dark">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {

                    string backclr = item.status == (int)UserStatus.active ? "#ffffff" : "grey;";
                    string trid = "tr" + item.Id;
                    string blckId = "blck" + item.Id;
                    string unblck = "unblck" + item.Id;
                    <tr id="@trid" style="background-color:@backclr">
                        <td style="background-color:@backclr">
                            @if (!string.IsNullOrEmpty(item.profile))
                            {
                                <img src="@item.profile" class="imgtable"
                                     alt="" />
                            }
                            else
                            {
                                <img src="~/img/nouser.jpg" class="imgtable" />
                            }
                            @item.name
                        </td>
                        <td>
                            @if (item.status == (int)UserStatus.active)
                            {
                                <a href="javascript:" class="btn btn-success btn-xs">
                                   Active
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-primary btn-xs" href="javascript:">
                                    Blocked
                                </a>
                            }
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>