@using QuickBetCore.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
<script src='https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js'></script>
<script src="~/ExcelJs/buttons.flash.min.js"></script>
<script src="~/ExcelJs/jszip.min.js"></script>
<script src="~/ExcelJs/pdfmake.min.js"></script>
<script src="~/ExcelJs/vfs_fonts.js"></script>
<script src="~/ExcelJs/buttons.html5.min.js"></script>
<script src="~/ExcelJs/buttons.print.min.js"></script>
<div class="page-content">
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class="pull-left">
                <div class="page-title">All Customers</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                       href="@Url.Action("Index", "AdminDashboard",new { area="Admin"})">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Customers</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style="width:100%">All Customers <a href="@Url.Action("CreateCustomer","Customers")" class="btn btn-sm btn-primary float-end">Add Customer</a> </h4>
                </div>
                <div class="card-body" id="divagents">


                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 900px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" id="divcontent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ClosePassowordResetPasswordPopup()"
                        class="btn btn-secondary">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.response != null)
{
    var response = ViewBag.response as QuickBetCore.Models.ApiResponse;
    if (response.Code == (int)ApiResponseCode.fail)
    {
        <script>
            alertify.error("@response.Msg");
        </script>
    }
    else
    {
        <script>
            alertify.success("@response.Msg");
        </script>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#Customers").addClass("active");
        loadCustomers();
    });

    function ClosePassowordResetPasswordPopup() {

        $('#exampleModal').modal('hide');
    }
    function ShowPassowordResetPasswordPopup(UserId) {
        Loader(true);
        $.ajax({
            url: '/User/UserManagement/PasswordRest?UserId=' + UserId,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                Loader(false);
                $('#exampleModal').modal('show');
                $('#divcontent').html(result);
            },
            error: function (xhr, status) {
                Loader(false);
                alert(status);
            }
        })
    }

    function loadCustomers() {
        Loader(true);
        $.ajax({
            url: '/Admin/Customers/GetCustomerlist',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                Loader(false);
                $('#divagents').val("")
                $('#divagents').html(result);
                $('#datatable').DataTable({
                    responsive: true,
                    dom: 'Bfrtip',
                     buttons: [
                        {
                            extend: 'copyHtml5',
                            exportOptions: {
                                columns: [0, 1, 2, 3]
                            }
                         },
                         {
                             extend: 'csvHtml5',
                             exportOptions: {
                                 columns: [0, 1, 2, 3]
                             }
                         },
                        {
                            extend: 'excelHtml5',
                            exportOptions: {
                                columns: [0, 1, 2, 3]
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            exportOptions: {
                                columns: [0, 1, 2, 3]
                            }
                        },
                    ]
                });
            },
            error: function (xhr, status) {
                Loader(false);
                alert(status);
            }
        })
    }
    function ExoprtExcel() {
        var table = $('#datatable').DataTable();
        table.page.len(-1).draw();
        window.open('data:application/vnd.ms-excel,' +
            encodeURIComponent($('#datatable').parent().html()));
        setTimeout(function () {
            table.page.len(10).draw();
        }, 1000)
    }
    function DeleteUser(user) {
        debugger;
        alertify.confirm('Are you sure? you want to delete this user',
            function () {
                Loader(true);
                $.ajax({
                    type: "POST",
                    url: "/Admin/Customers/DeleteCustomer?Id=" + parseInt(user),
                    //data: '{Id: "' + parseInt(user) + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        Loader(false);
                        if (response.Code == 200) {
                            alertify.success(response.Msg);
                            loadCustomers();
                        }
                        else {
                            alertify.error(response.Msg);
                        }
                    },
                    failure: function (response) {
                        Loader(false);
                        alertify.error(response.responseText);
                    },
                    error: function (response) {
                        Loader(false);
                        alertify.error(response.responseText);
                    }
                });
            }
            , function () { alertify.error('Cancelled') });
    }




</script>
<script type="text/javascript">
    function BlockCUpdate(Type, Id) {
        debugger;
        if (!Type) {
            return false;
        }
        if (!Id) {
            return false;
        }
        var trid = "#tr" + Id;
        var blckId = "#blck" + Id;
        var unblck = "#unblck" + Id;
        Loader(true);
        $.ajax({
            type: "POST",
            url: "/Admin/Customers/BlockUser",
            data: '{type: "' + Type + '",Id: "' + Id + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                Loader(false);
                loadCustomers();
                //alertify.alert(response.Msg);
            },
            failure: function (response) {
                Loader(false);
                alert(response.responseText);
            },
            error: function (response) {
                Loader(false);
                alert(response.responseText);
            }
        });
    }
</script>


