@{
    string UserId = "";
    if (ViewData["UserId"] != null)
        UserId = ViewData["UserId"].ToString();
}
<div class="form-group row">
    <input type="hidden" id="hfuserId" value="@UserId" />
    <label class="col-form-label col-md-12">New password (leave blank to leave unchanged) * </label>
    <div class="col-md-12">
        <input type="password" required minlength="6" name="newpassword" id="newpassword" class="form-control" placeholder="Enter Here">
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-12">Confirm new password * </label>
    <div class="col-md-12">
        <input type="password" required minlength="6" name="repeatpassword" id="repeatpassword" class="form-control" placeholder="Enter Here">
    </div>
</div>
<div class="text-left">
    <button type="button" onclick="ResetPassword()" class="btn btn-primary">Save Changes</button>
</div>
<script type="text/javascript">
    function ResetPassword()
    {
        var newPassword = $("#newpassword").val();
        var repeatpassword = $("#repeatpassword").val();
        var userId = $("#hfuserId").val();
        if (newPassword && repeatpassword && userId)
        {
            var changePasswordObj = {
                UserId: userId,
                Password: repeatpassword,
                ConfirmPassword: newPassword
            };
            Loader(true);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdatePassword", "UserManagement",new {area="Admin" })",
                    data: JSON.stringify(changePasswordObj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        Loader(false);
                        if (response.Code == 200) {
                            alertify.success(response.Msg);
                            ClosePassowordResetPasswordPopup();
                        }
                        else {
                            alertify.failure(response.Msg);
                        }
                    },
                    failure: function (response) {
                        Loader(false);
                        alertify.error(response.responseText);
                    },
                    error: function (response) {
                        Loader(false);
                        alertify.error(response.responseText);
                    }
                });
        }
    }
</script>