@model QuickBetCore.Models.UserSignUpViewModel
@using QuickBetCore.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <title></title>
    <style type="text/css">
        body {
            /*background: url(./bg.jpg);*/
            background-image: url('../../assets/images/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .center-box {
            display: flex;
            align-items: center;
            min-height: 90vh;
        }

        .content {
            background: #FFF;
            text-align: center;
            width: 400px;
            max-width: 100%;
            margin: auto;
            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
            padding: 45px 50px;
            border-radius: 15px;
        }

            .content p {
                font-size: 14px;
                letter-spacing: 0.5px;
                color: #666;
                margin: 20px 0 30px;
            }

            .content img {
                width: 250px;
            }

        .btn-a {
            background: #cd288e;
            padding: 13px 25px;
            display: inline-block;
            text-decoration: none;
            color: #FFF;
            border-radius: 5px;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
        }

            .btn-a:hover {
                background: #ad1874;
            }
    </style>
</head>

<body>
    <div class="center-box">
        <div class="content">

            <img src="~/assets/images/logo.png" />
            <p>Welcome to QuickbetNG.We welcome you to enjoy our variety of scratch games, Click on the below button to active your account</p>
            <a href="/Account/Login?email=@ViewBag.email" class="btn-a">Activate account</a>
        </div>
    </div>
</body>

</html>
