@model QuickBetCore.Models.LoginViewModel
@using QuickBetCore.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/favicon.ico" />
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- font-awesome css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- modernizr css -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="~/css/alertify.core.css" rel="stylesheet" />
    <link href="~/css/alertify.default.css" rel="stylesheet" />
    <style>
    @@media (min-width: 320px) and (max-width: 480px) {
      .logo {
        height: inherit;
        left: 10px;
        padding: 0;
        position: absolute;
        top: 0px;
        z-index: 999999;
        position: relative;
        top: -50% !important;
        max-width: 100%;
      }
    }
    </style>
    <style>
        .acc-not {
            font-size: 18px;
            margin-top: 0;
            font-weight: 600;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#navbar-example">
    <div class="login-area area-padding fix">
        <div class="login-overlay"></div>
        <div class="table">
            <div class="table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <a href="/">
                                    <img src="/assets/images/logo.png" class="img-responsive" />
                                </a>

                            </div>
                        </div>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
                            <div class="login-form">
                                <h4 class="login-title text-center" style="margin-bottom: 0">
                                    Forgot Password
                                </h4>
                                <p style="text-align: center">
                                    Enter your email to get a password new password
                                </p>
                                <div class="row">
                                    <form id="contactForm"
                                          method="POST"
                                          action="/account/ForgetPassword"
                                          class="log-form">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="email"
                                                   id="EmailAddress"
                                                   name="EmailAddress"
                                                   class="form-control"
                                                   placeholder="Email Address"
                                                   required
                                                   data-error="Please enter your name" />
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            <button type="submit"
                                                    id="submit"
                                                    class="slide-btn login-btn">
                                                Reset Password
                                            </button>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            <div class="clear"></div>
                                            <div class="sign-icon">
                                                <div class="acc-not">
                                                    Remeber Your Password ?
                                                    <a href="@Url.Action("Login","Account")">Login</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
    <!-- all js here -->
    <!-- jquery latest version -->
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/scripts/alertify.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Form validator js -->
    @*<script src="/js/form-validator.min.js"></script>*@
    <!-- plugins js -->
    <script src="/js/plugins.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    @{
        if (ViewData["error"] != null)
        {
            <script type="text/javascript">
            $(document).ready(function () {
                alertify.alert("@ViewData["error"]");
                $("#EmailAddress").val("");
            })
            </script>
        }
    }

</body>
</html>
