
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Agent/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class="pull-left">
                <div class="page-title">All Games</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                    href="@Url.Action("Index", "AdminDashboard",new { area="Admin"})">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>

                <li class="active">Games</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style="width:100%">All Games</h4>
                </div>
                <div class="card-body" id="divgames">
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Games").addClass("active");
        loadgames();
    });

    function loadgames() {
        Loader(true);
        $.ajax({
            url: '/Agent/Games/GetGamelist',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                Loader(false);
                $('#divgames').val("")
                $('#divgames').html(result);
            },
            error: function (xhr, status) {
                Loader(false);
                alert(status);
            }
        })
    }

    function filtergamelist() {
        var Srchkeyword = $("#txtsearch").val();
        if (Srchkeyword && Srchkeyword.length > 0) {
            $(".gamelistdiv").each(function () {
                var gamename = $(this).attr("data").toUpperCase();
                Srchkeyword = Srchkeyword.toUpperCase();
                debugger;
                if (gamename.indexOf(Srchkeyword.toUpperCase()) != -1) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });
        }
        else {
            $(".gamelistdiv").each(function () {
                $(this).show();
            });
        }
    }
</script>

