
@{
    ViewBag.Title = "faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media (min-width: 320px) and (max-width: 480px) {
        .logo-res {
            width: 215px !important;
        }

        .counter-area-inner {
            margin-top: 80px !important;
        }

        .navbar-collapse {
            padding-left: 20px;
        }

        .nav-link {
            display: block;
            padding: 0rem 1rem;
        }

        ul.navbar-nav.mr-auto {
            margin-left: 0px !important;
        }
    }
</style>
<style>
    a.nav-link {
        color: #4c4a4a;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    .logo-res {
        width: 250px;
    }

    ul.navbar-nav.mr-auto {
        margin-left: 50px;
    }

    .header-top-area-inner {
        width: 20%;
        float: left;
    }

    .header-wrapper {
        position: relative;
        left: 5%;
    }

    .header-section {
        background: #ffffff;
        padding: 10px 0;
    }

    .header-wrapper .menu li a {
        color: #4c4a4a;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
</style>

<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="content">
            <h2 class="title">FAQ</h2>
            <ul class="breadcrumb-list extra-padding">
                <li>
                    <a href="/"> Home </a>
                </li>

                <li>
                    <a href="#">Faq</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->
<!-- ==========Faq-Section========== -->
<section class="about-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-lg-12">
                <div class="section-header">
                    <h2 class="title">FAQ</h2>
                    <br />
                    <div class="_faqArea">
                        <p><strong> 1. Does it cost any money to register on Quickbet Nigeria Limited?</strong></p>
                        <p class="_ans">Registering on Quickbet Nigeria is completely free of charge.</p>

                        <p><strong> 2. How do I register on Quickbet Nigeria Limited?</strong></p>
                        <p>Visit the Quickbet Nigeria Limited website and click on “REGISTER” in the top right hand corner. Fill in the registration form, agree to the “TERMS” and submit it by clicking on “SIGNUP”.</p>
                        <p>Please ensure that your personal details are correct.</p>
                        <p><strong> 3. Can I change my username?</strong></p>
                        <p>Usernames cannot be changed.</p>
                        <p><strong>4. How do I retrieve or change my password?</strong></p>
                        <p>To retrieve your password, please click on “Forgotten Password” on the login page.</p>

                        <p><strong>5. How do I change my password?</strong></p>
                        <p>Login to your account and go to the “Dashboard” section, scroll down and change your password.</p>

                        <p> 6. How can I update incorrect personal details/email?</p>
                        <p>In case of inaccuracies, please contact our Customer Services to rectify any errors.</p>

                        <p><strong>7. Can I open more than one account with Quickbet Nigeria Limited?</strong></p>
                        <p>No.</p>

                        <p><strong>8. What is the minimum age for betting with Quickbet Nigeria Limited?</strong></p>
                        <p>18yrs</p>

                        <p><strong>9. How do I check Quickbet Nigeria Limited provisions?</strong></p>
                        <p>Please click the Terms & Conditions tab at the bottom of the homepage. </p>

                        <p><strong>10. What is the minimum and the maximum deposit amount with a Debit Card?</strong></p>
                        <p>The minimum deposit amount is NGN 100.</p>
                        <p>The maximum deposit amount depends on what is allowed by the bank. </p>

                        <p><strong>11. Are there any fees when depositing with a Debit Card?</strong></p>
                        <p>No</p>

                        <p><strong>12. Can I use my international card?</strong></p>
                        <p>International cards cannot be used on the Quickbet Nigeria Limited website.</p>
                        <p>Only Nigerian Debit Cards can be used on Quickbet Nigeria Limited website.</p>

                        <p><strong>13. How do I withdraw funds from my account?</strong></p>
                        <p>In your DASHBOARD, click on the “FUNDS” tab, then under “WITHDRAW FUNDS FROM ACCOUNT”, click on “WITHDRAW FUNDS HERE”.</p>

                        <p><strong>14. Are there any fees when withdrawing?</strong></p>
                        <p>No</p>

                        <p><strong>15. How do I check the status of my withdrawal request?</strong></p>
                        <p>You can check the status of your withdrawal request by clicking on the Transaction history from your “DASHBOARD”.</p>

                        <p><strong>16. How long does it take for my WINNINGS to be settled?</strong></p>
                        <p>Withdrawals are paid as soon as they are verified, they are deposited into bank account provided by player. Cash can be collected at authorized kiosks up to 50,000 Naira. Cash withdrawals above 50,000 Naira must be settled at Quickbet Nigeria HQ office.</p>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
<!-- ==========Faq-Section========== -->
