
@{
    ViewBag.Title = "privacypolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media (min-width: 320px) and (max-width: 480px) {
        .logo-res {
            width: 215px !important;
        }

        .counter-area-inner {
            margin-top: 80px !important;
        }

        .navbar-collapse {
            padding-left: 20px;
        }

        .nav-link {
            display: block;
            padding: 0rem 1rem;
        }

        ul.navbar-nav.mr-auto {
            margin-left: 0px !important;
        }
    }
</style>
<style>
    a.nav-link {
        color: #4c4a4a;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    .logo-res {
        width: 250px;
    }

    ul.navbar-nav.mr-auto {
        margin-left: 50px;
    }

    .header-top-area-inner {
        width: 20%;
        float: left;
    }

    .header-wrapper {
        position: relative;
        left: 5%;
    }

    .header-section {
        background: #ffffff;
        padding: 10px 0;
    }

    .header-wrapper .menu li a {
        color: #4c4a4a;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
</style>

<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="content">
            <h2 class="title">Privacy Policy</h2>
            <ul class="breadcrumb-list extra-padding">
                <li>
                    <a href="/"> Home </a>
                </li>

                <li>
                    <a href="#">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->
<!-- ==========Faq-Section========== -->
<section class="about-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-lg-12">
                <div class="section-header">
                    <h2 class="title">Privacy Policy</h2>
                    <br />
                    <div class="_faqArea" style="text-align:left;">
                        <p>
                            Quickbet Nigeria Limited (“Quickbet Nigeria Limited,” “Us,” “Our” or “We”) is committed
                            to protecting Your privacy online. This Privacy Policy discloses the privacy practices for
                            the website at <a href="quickbetng.com" style="color:red;">quickbetng.com</a>
                            and various related services (together referred to as the “Site”). All visitors to, or users
                            of, the Site are referred to individually, as “You” or “Your.”
                        </p>
                        <p>
                            You acknowledge that this Privacy Policy is part of Our Site Terms of Service, available
                            at <a href="quickbetng.com/termsandservice" style="color:red;">quickbetng.com/terms</a>, and by accessing or using Our Site, you agree to be bound by
                            all of its terms and conditions. The Terms of Service establishes the use, disclaimers,
                            and limitations of liability governing the use of Our Site. <b>
                                If You do not agree to these
                                terms, please do not access or use this Site.
                            </b>
                        </p>
                        <p>
                            We reserve the right to change this Privacy Policy at any time. We will post any Privacy
                            Policy changes on this page and, if the changes are significant, we will provide a more
                            prominent notice (including, for certain services, email notification of Privacy Policy
                            changes, if You have provided Us with Your email).You acknowledge and agree that it
                            is Your responsibility to maintain a valid email address as a registered user, review this
                            Site and this Privacy Policy periodically and to be aware of any modifications. Your
                            continued use of the Site after such modifications will constitute Your: (a)
                            acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be
                            bound by the modified Privacy Policy.
                        </p>
                        <p>
                            We reserve the right to change this Privacy Policy at any time. We will post any Privacy
                            Policy changes on this page and, if the changes are significant, we will provide a more
                            prominent notice (including, for certain services, email notification of Privacy Policy
                            changes, if You have provided Us with Your email).You acknowledge and agree that it
                            is Your responsibility to maintain a valid email address as a registered user, review this
                            Site and this Privacy Policy periodically and to be aware of any modifications. Your
                            continued use of the Site after such modifications will constitute Your: (a)
                            acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be
                            bound by the modified Privacy Policy.
                        </p>
                        <p>
                            <strong>
                                Types of Information Collected
                            </strong>
                        </p>

                        <p>
                            In order to better provide You with Our Site, we collect two types of information about
                            Our users: Personally Identifiable Information and Non-Personally Identifiable
                            Information. Our primary goal in collecting information from You is to provide You with a
                            smooth, efficient, and customized experience while using Our Site.


                        </p>

                        <p>
                            <strong>
                                Personally Identifiable Information
                            </strong>
                        </p>

                        <p>
                            Personally Identifiable Information refers to information that lets Us know the specifics
                            of who You are. When You engage in certain activities on this Site, such as registering
                            for an account, or sending Us feedback, we may ask You to provide certain information
                            about You by filling out and submitting an online form. It is completely optional for You
                            to engage in these activities. If You elect to engage in these activities, however, we may
                            ask that You provide Us with Personally Identifiable Information, such as Your first and
                            last name, mailing address (including zip code), email address, employer, job title and
                            department, birth date, age, gender, telephone and facsimile numbers, short message
                            service (SMS) or text message address or other wireless device address, and other
                            personal identifying information. In addition, we may collect certain other Personally
                            Identifiable Information, including Your IP address when You use Our Site.

                        </p>

                        <p>
                            <strong>
                                Non-Personally Identifiable Information
                            </strong>
                        </p>

                        <p>
                            Non-Personally Identifiable Information refers to information that does not by itself
                            identify a specific individual. We gather certain information about You based upon
                            where You visit on Our Site in several ways. This information is compiled and analyzed
                            on both an individual and an aggregated basis. This information may include the
                            Uniform Resource Locator (“URL”) of the website that You just came from, which URL
                            You next go to, what browser You are using, the type of operating system You have.
                        </p>
                        <p><strong>Collection Methods and Use of Information</strong></p>
                        <p>
                            You provide certain Personally Identifiable Information to Us when You: (a) register for
                            Our Services and register Your email address with Us or (b) send email messages,
                            submit forms, submit comments or rankings, or transmit other information by telephone
                            or letter. We may also collect information from You at other points on Our Site.
                        </p>
                        <p>
                            In addition, we may also collect, or our third-party ad server and/or content server may
                            collect, certain Non-Personally Identifiable Information. This information is ultimately
                            stored in the form of store categories, and, in some cases, specific URLs. We use Your
                            IP address to diagnose problems with Our servers, software, to administer Our Site and
                            prevent fraud. Our third-party ad servers will also provide Us with summary, but not
                            individual, reports that will tell Us how many ads were presented and clicked upon at
                            Our Site. We also may use this information in the aggregate to analyze usage of the
                            Site, Services, promotions and online media, as well as to offer You targeted products
                            and services. We also reserve the right to use aggregate or group data about Our
                            visitors for any other lawful purposes. Aggregate or group data is data that describes
                            the demographics, usage and/or characteristics of Our visitors as a group. By visiting,
                            and/or supplying Your Personally Identifiable Information via the Site and other online
                            media, you agree to allow Us to provide such aggregate data to any third parties at Our
                            discretion, as lawfully permitted.
                        </p>

                        <p>
                            We will primarily use Your Personally Identifiable Information to provide Our Services to
                            You, as required by Our agreements with You. We may also use Personally Identifiable
                            Information to enhance the operation of Our Site, fill orders, prevent fraud, improve Our
                            marketing and promotional efforts, statistically analyze Site use, improve Our product
                            and service offerings, and customize Our Site’s content, layout, and services. We may
                            use Personally Identifiable Information to deliver information to You and to contact You
                            regarding administrative notices. We may also use Personally Identifiable Information to
                            resolve disputes, troubleshoot problems, and enforce Our agreements with You,
                            including Our Site Terms of Use and this Privacy Policy.
                        </p>

                        <p>
                            We do not use automatic decision-making (i.e., making decisions solely by automated
                            means without any human involvement) or profiling (i.e., automated processing of
                            Personally Identifiable Information to evaluate certain aspects of an individual).

                        </p>

                        <p>
                            Where We intend to process Your information for a purpose other than the purpose for
                            which it was collected, we will provide You with information regarding the purpose for
                            the processing, as well as other relevant information, prior to processing Your
                            information for the new purpose.

                        </p>

                        <p><strong>Release of Information and Opt-Out</strong></p>
                        <p>
                            We reserve the right to share the postal addresses, phone numbers or email addresses
                            of users with third parties, such as advertisers. To prevent Us from sharing this
                            information in the future, please email Us at: <a href="mailto:admin@quickbetng.com" style="color:red;">admin@quickbetng.com</a> . We will not share
                            users’ credit card numbers. Occasionally, we send e-mail messages to users to inform
                            them of features and services available on Our Sites
                        </p>

                        <p>
                            Occasionally We may be required by law enforcement or judicial authorities to provide
                            Personally Identifiable Information to the appropriate governmental authorities. We will
                            disclose Personally Identifiable Information upon receipt of a court order, subpoena, or
                            to cooperate with a law enforcement investigation. We cooperate with law enforcement
                            agencies in identifying those who use Our Services for illegal activities. We reserve the
                            right to report to law enforcement agencies any activities that We in good faith believe to
                            be unlawful.
                        </p>

                        <p>
                            We may also provide Non-Personally Identifiable Information about Our customers’
                            sales, traffic patterns, and related Site information to third party advertisers, but these
                            statistics do not include any Personally Identifiable Information.
                        </p>
                        <p>
                            We use third-party advertising companies to serve ads when You visit Our Site. These
                            companies may use information (not including Your name, address, email address or
                            telephone number) about Your visits to this and other websites in order to provide
                            advertisements about goods and services of interest to You. This type of advertising is
                            known as interest-based advertising.

                        </p>

                        <p>
                            Quickbet Nigeria Limited adheres to the Digital Advertising Alliance (“DAA”) SelfRegulatory Principles in connection with this interest-based advertising activity. You
                            may visit www.aboutads.info to learn more about this type of advertising and how to opt
                            out of this advertising on websites by companies participating in the DAA self-regulatory
                            program. If You delete Your cookies or use a different browser or mobile device, you
                            may need to renew Your opt-out choices exercised through the DAA tool. Note that
                            electing to opt out will not stop advertising from appearing in Your browser or
                            applications. It may make the ads You see less relevant to Your interests. Additionally,
                            your browser may offer tools to limit the use of cookies or to delete cookies; however, if
                            You use these tools, Our Site may not function as intended.
                            <br />
                            We may also work with third parties that collect data about Your use of the Site and
                            other sites or apps over time for non-advertising purposes. Quickbet Nigeria Limited
                            uses Google Analytics and other third-party services to improve the performance of the
                            Site and for analytics and marketing purposes. For more information about how Google
                            Analytics collects and uses data when You use Our Site,
                            visit <a href="www.google.com/policies/privacy/partners/" style="color:red;">www.google.com/policies/privacy/partners/</a>, and to opt out of Google Analytics,
                            visit <a href="tools.google.com/dlpage/gaoptout/" style="color:red;">tools.google.com/dlpage/gaoptout/</a>.
                        </p>

                        <p>
                            <strong>
                                Visitors from the EEA, the UK, and Switzerland

                            </strong>
                        </p>
                        <p>
                            This section applies to those that visit Our Site or interact with Us from the European
                            Economic Area (“EEA”), the UK, or Switzerland. <br />

                            Quickbet Nigeria Limited processes Your information (i.e., Personally Identifiable
                            Information and Non-Personally Identifiable Information) with Your consent. On other
                            occasions, Quickbet Nigeria Limited may process Your information when it needs to do
                            this to fulfill a contract (e.g., to comply with contracts with Our business partners) or
                            where required to do this by law. If necessary, Quickbet Nigeria Limited may also
                            process Your information when it is in Quickbet Nigeria Limited’s legitimate interests to
                            do this (e.g., for direct marketing purposes) and when these interests are not overridden
                            by Your data protection rights.

                            <br />
                            If You wish to exercise the right to withdraw consent, please contact Us.
                        </p>
                        <p>You have a right to the following:</p>
                        <p class="_ans">
                            To request access to the information We hold about
                            You. <br />
                            • To request that We rectify or erase Your information. <br />
                            • To request that We restrict or block the processing of
                            Your information. <br />
                            • Under certain circumstances, to receive information
                            about You that We store and transmit to another
                            without hindrance from Us, including requesting that
                            We provide Your information directly to another, i.e., a
                            right to data portability; and <br />
                            • Where We previously obtained Your consent, to
                            withdraw consent to processing Your information.

                        </p>

                        <p>
                            To exercise these rights, contact Us. Please be aware that We may be unable to afford
                            these rights to You under certain circumstances, such as if We are legally prevented
                            from doing so.

                            <br />
                            Additionally, you have the right to lodge a complaint against Us. To do so, contact the
                            supervisory authority in Your country of residence.
                            <br />
                            Please be aware that the information We collect may be transferred to and maintained
                            on servers or databases located outside Your state, province, country, or other
                            jurisdiction, where the privacy laws may not be as protective as those in Your location.
                        </p>

                        <p>
                            <strong>
                                Retention
                            </strong>
                        </p>

                        <p>
                            We will process and store Your information only for the period necessary to achieve the
                            purpose of the storage, or as permitted by law. The criteria used to determine the period
                            of storage of information is the respective statutory retention period or consistent with
                            our internal data retention practices. After expiration of that period, the corresponding
                            information is routinely deleted, if it is no longer necessary for the fulfillment of a
                            contract or the initiation of a contract.
                        </p>

                        <p><strong>Updating and Correcting Information</strong></p>
                        <p>
                            In the event that You provide Us with Personally Identifiable Information, We believe
                            you should have the ability to access and edit it. If You provide Us with Personally
                            Identifiable Information, You may also access and correct Your Personally Identifiable
                            Information and privacy preferences by emailing Us at <a href="mailto:admin@quickbetng.com" style="color:red;">admin@quickbetng.com</a> or
                            writing Us at: 39c Shakiru Ayorinde street, Lekki Lagos Nigeria. Please include Your
                            name, address, and/or email address when You contact Us.

                            <br />
                            We encourage You to promptly update Your Personally Identifiable Information if it
                            changes. If You provide Us with Personally Identifiable Information, you may ask to
                            have the information deleted or removed; however, because We keep track of past
                            transactions, you cannot delete information associated with past transactions on this
                            Site. In addition, it may be impossible to completely delete Your information without
                            some residual information because of backups.
                        </p>

                        <p>
                            <strong>
                                User Choices on Collection and Use of Information
                            </strong>
                        </p>

                        <p>
                            You also have choices with respect to cookies, as described below. By modifying Your
                            browser preferences, you have the choice to accept all cookies, to be notified when a
                            cookie is set, or to reject all cookies. If You choose to reject all cookies some parts of
                            Our Site may not work properly.
                        </p>

                        <p>
                            <strong>
                                Security of Information
                            </strong>
                        </p>

                        <p>

                            At Our Site You can be assured that Your Personally Identifiable Information is secure,
                            consistent with current industry standards. The importance of security for all Personally
                            Identifiable Information associated with Our user is of utmost concern to Us. Your
                            Personally Identifiable Information is protected in several ways. Your Personally
                            Identifiable Information resides on a secure server that only selected Quickbet Nigeria
                            Limited personnel and contractors have access to via password. We encrypt Your
                            Personally Identifiable Information and thereby prevent unauthorized parties from
                            viewing such information when it is transmitted to Us. Personal information that You
                            provide that is not Personally Identifiable Information also resides on a secure server
                            and is only accessible via password.

                            <br />

                            At Our Site You can be assured that Your Personally Identifiable Information is secure,
                            consistent with current industry standards. The importance of security for all Personally
                            Identifiable Information associated with Our user is of utmost concern to Us. Your
                            Personally Identifiable Information is protected in several ways. Your Personally
                            Identifiable Information resides on a secure server that only selected Quickbet Nigeria
                            Limited personnel and contractors have access to via password. We encrypt Your
                            Personally Identifiable Information and thereby prevent unauthorized parties from
                            viewing such information when it is transmitted to Us. Personal information that You
                            provide that is not Personally Identifiable Information also resides on a secure server
                            and is only accessible via password.

                        </p>

                        <p><strong>Cookies</strong></p>
                        <p>
                            When You use Our Site, We will store cookies on Your computer in order to facilitate
                            and customize Your use of Our Site. A cookie is a small data text file, which a Web Site
                            stores on Your computer’s hard drive (if Your Web browser permits) that can later be
                            retrieved to identify You to Us. Our cookies store randomly assigned user identification
                            numbers. The cookies make Your use of the Site easier, make the Site run more
                            smoothly and help Us to maintain a secure Site. You are always free to decline Our
                            cookies if Your browser permits, but some parts of Our Site may not work properly in
                            that case.
                            <br />
                            Cookies are not designed to get data from Your hard drive, Your email account or any
                            other Personally Identifiable Information You. Cookies are used to store information
                            about a visitor’s preferences and history in order to better serve the visitor and/or
                            present the visitor with customized ads, content and/or services.<br />
                            We may use an outside ad serving company to display banner advertisements on Our
                            Site. As part of their service, they will place a separate cookie on Your computer. We
                            will not provide any third-party ad server with any of Your Personally Identifiable
                            Information or information about Your purchases. We and our third party ad server will
                            collect and use Non-Personally Identifiable Information about You, such as Your IP
                            address, browser type, the server Your computer is logged onto, the area code and zip
                            code associated with Your server and whether You responded to a particular ad. Other
                            advertisers may also place banner ads on Our Site in the same manner as above, but
                            We will not disclose any Personally Identifiable Information to them. For more
                            information about cookies, visit <a href="http://www.allaboutcookies.org/cookies/" style="color:red;">http://www.allaboutcookies.org/cookies/</a>.
                        </p>

                        <p><strong>Privacy Policies of Third-Party Sites</strong></p>
                        <p>
                            Except as otherwise discussed in this Privacy Policy, this document only addresses the
                            use and disclosure of information We collect from You. Other Sites accessible through
                            Our Site have their own privacy policies and data collection, use and disclosure
                            practices. Please consult each Site’s privacy policy. We are not responsible for the
                            policies or practices of third parties. Additionally, other companies which place
                            advertising on Our Site may collect information about You when You view or click on
                            their advertising using cookies. We cannot control this collection of information. You
                            should contact these advertisers directly if You have any questions about their use of
                            the information that they collect.

                        </p>
                        <p>
                            <strong>
                                Miscellaneous Privacy Issues
                            </strong>
                        </p>
                        <p>
                            You must be at least 18 years old to have Our permission to use this Site. Our policy is
                            that We do not knowingly collect, use or disclose Personally Identifiable Information
                            about visitors that are under 18 years of age.
                            <br />
                            You should also be aware that when Personally Identifiable Information is voluntarily
                            disclosed (i.e., Your name, email address, etc.), that information, along with any
                            information disclosed in Your communication, can be collected and used by third parties
                            and may result in unsolicited messages from third parties. Such activities are beyond
                            Our control and this Privacy Policy does not apply to such information. Any submissions
                            to this Site are accepted with the understanding that they are accessible to all third
                            parties. If You do not want Your comments to be viewed by third parties, you are
                            advised not to make any submissions. Please be careful and responsible whenever
                            You’re online.
                            <br />
                            If You have any questions about this Privacy Policy, the practices of this Site, or Your
                            dealings with this Site, please contact Us, in Our role as data controller, by sending a
                            letter to: <br /><br />
                            Quickbet Nigeria Limited <br /><br />
                            Attn: Privacy Compliance <br /><br />
                            39c Shakiru Ayorinde street, Lekki Lagos Nigeria <br /><br />
                            You may also contact Us by email at <a href="mailto:admin@quickbetng.com" style="color:red;">admin@quickbetng.com</a>

                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
<!-- ==========Faq-Section========== -->
