
@{
    ViewBag.Title = "termsandservice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media (min-width: 320px) and (max-width: 480px) {
        .logo-res {
            width: 215px !important;
        }

        .counter-area-inner {
            margin-top: 80px !important;
        }

        .navbar-collapse {
            padding-left: 20px;
        }

        .nav-link {
            display: block;
            padding: 0rem 1rem;
        }

        ul.navbar-nav.mr-auto {
            margin-left: 0px !important;
        }
    }
</style>
<style>

    a.nav-link {
        color: #4c4a4a;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    .logo-res {
        width: 250px;
    }

    ul.navbar-nav.mr-auto {
        margin-left: 50px;
    }

    .header-top-area-inner {
        width: 20%;
        float: left;
    }

    .header-wrapper {
        position: relative;
        left: 5%;
    }

    .header-section {
        background: #ffffff;
        padding: 10px 0;
    }

    .header-wrapper .menu li a {
        color: #4c4a4a;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    ._ans {
        margin-left: 60px;
        padding: 5px;
    }
</style>

<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="content">
            <h2 class="title">Terms of Service</h2>
            <ul class="breadcrumb-list extra-padding">
                <li>
                    <a href="/"> Home </a>
                </li>

                <li>
                    <a href="#">Terms of Service</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->
<!-- ==========Faq-Section========== -->
<section class="about-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-lg-12">
                <div class="section-header">
                    <h2 class="title">Terms of Service</h2>
                    <br />
                    <div class="_faqArea" style="text-align:left;">
                        <p><strong> GENERAL TERMS AND CONDITIONS</strong></p>
                        <p>These general Terms and Conditions <b>(“Terms and Conditions” or “T&C”)</b> shall apply to all aspects of use of the website <a href="www.quickbetng.com">www.quickbetng.com (the “website”)</a>, the Account and the gaming products and services operated by QuickBet Nigeria Limited (“<b>QuickBet</b>”) (a Company duly registered under the laws of Nigeria, with registration no. RC 1767040) via the website.</p>

                        <p>QuickBet shall offer interactive/scratch card gaming services through the internet hereon referred to as ‘the Service”. All the Terms and Conditions listed in this page shall together be referred to as “the Terms of Use”. “User” and “Customer”, “You” and “Your” refers to you, the person accessing the Service and accepting QuickBet’s terms and conditions.</p>
                        <p>
                            By using the Service, such as to participate in any of the promotions offered, you agree to be bound by:
                        </p>
                        <p class="_ans">a.	these general Terms & Conditions together with any other terms and conditions that may be applicable for a specific type of service or product we make available;</p>
                        <p class="_ans">b.	any game rules, terms and conditions and/or rules applicable to the bonus promotions, rewards programs, special offers or any other promotions that may be made available on the website; and</p>
                        <p class="_ans">c.	the Terms of Use, including any amendment which may periodically take place.</p>
                        <p>The Terms and Conditions contained herein represent the complete, final and exclusive agreement between the Customer and QuickBet and supersedes all prior agreements, representations and understandings.</p>
                        <p><strong>1.	ACCEPTANCE</strong></p>
                        <p>By using the service, the Customer confirms that he/she has reached the age of 18 or such legal age as he/she must have reached under the laws governing gaming that are applicable to him/her. Irrespective of national regulations concerning the legal age, however, QuickBet does not accept any Users under the age of 18 and applications from any form of incorporated or unincorporated legal entity.</p>
                        <p>QuickBet reserves the right to verify any Customer’s statement of age and status, and to exclude Customers from its services, if there are any doubts regarding the attainment of the minimum age required or applicant’s identity. Any Customer using our services, who is identified as underage or who has registered an account with the false information about their identity or status, shall have all his winnings forfeited and his/her (gaming) account (hereinafter referred to as the “Account”) shall be blocked immediately.</p>
                        <p>Non-Commercial & non-professional purposes: The Customer´s interest in using the service is of a personal nature, and is to be used purely for personal entertainment. Any commercial and professional interest is prohibited.</p>

                        <p><strong>2.	AMENDMENTS TO THE TERMS OF USE</strong></p>
                        <p>
                            The Terms of Use may be amended at any time by QuickBet at its own discretion. All changes will become effective upon publication on our website.
                        </p>

                        <p>If you consider any amendment carried out to be intolerable, you may cease using the service with immediate effect.</p>
                        <p>If following notification of any amendment to the Terms of Use, a Customer continues to use the Services, such continued use shall be taken as an acceptance to the amendment.</p>
                        <p><strong>3.	MANAGING AN ACCOUNT</strong></p>
                        <p class="_ans">3.1 Each Customer who wants to have access to services and products offered by QuickBet must open a gaming Account.</p>
                        <p class="_ans">3.2 By opening a QuickBet account and by participating in any promotion offered, the Customer warrants that he/she has reached the minimum legal age for participation. In addition, by opening a QuickBet account and by placing a bet, the Customer confirms that he or she retains the legal capacity to enter into an agreement with QuickBet. If one of these conditions is not respected the Customer’s account will be closed and all other necessary measures will be implemented.</p>
                        <p class="_ans">3.3 As you are aware, the right to access and/or use the Website (including any or all of the products offered via the Website) may be illegal in certain countries (including, for example, the USA). You are responsible for determining whether your accessing and/or use of the Website is compliant with applicable laws in your jurisdiction and you attest that gambling is not illegal in the territory where you reside.</p>
                        <p class="_ans">3.4 The website does not constitute an offer, solicitation or invitation by QuickBet for the use of gaming or other services in any Countries where such activities are deemed to be illegal. Each person should ensure that he/she would be acting legally in the Country where he/she is located while accepting the terms of Use as an individual Customer of QuickBet and gaming through the website. It is prohibited for Customers to buy, sell or transfer accounts to other Customers.</p>
                        <p class="_ans">3.5 When a new account is opened, the Customer is responsible for the accuracy and up-to-datedness of all the personal information and contact details provided, including name and date of birth, address, telephone number and e-mail address. QuickBet reserves the right to close the Account when the information provided is deemed to be false or inaccurate.</p>
                        <p class="_ans">3.6 All personal data is stored in the database of QuickBet and will not be passed on to third parties unless recurring the terms set out in the Privacy Policy Section.</p>
                        <p class="_ans">3.7 QuickBet reserves the right to relay suspected offender’s saved details to authorities or any other third party, which deals with the investigation of offences. (For QuickBet’s Privacy Policy, please visit the specific section).</p>
                        <p class="_ans">3.8 Every Customer shall only open one account with QuickBet. QuickBet retains the right to close the gaming account of any Customer who has opened multiple gaming accounts under his/her name or under different names. If we have reasonable grounds to believe that multiple gaming accounts (also under different names) have been opened with the intention of defrauding QuickBet, QuickBet retains the right to cancel any transaction related to the said fraud attempt.</p>
                        <p class="_ans">3.9 After opening an account, the Customer must keep username, password and/or account number a secret. All transactions where your username and password and /or account number have been entered correctly will be regarded as valid whether or not they have been authorized by the registered Account holder. QuickBet shall not be liable for any claims in the event that the Player gives away, tells, shares or loses his/her username, password or account number.</p>
                        <p class="_ans">3.10 Any account registration shall be subject to KYC processes.</p>
                        <p class="_ans">3.11 The Customer is entitled to apply for the closing of his Account whenever he/she wishes by requesting it to the Customer Service in written form. The effective closure of the Account will correspond to the termination of the Terms of Use. Peradventure the reason behind the closure of the Account is related to concerns about possible gambling addiction, the Customer shall indicate it.</p>
                        <p class="_ans">3.12 In accordance with the legal period of warranty requested by law, all the personal details saved in our system will only be deleted at your express request after the expiration of the respite period of seven (7) years.</p>
                        <p class="_ans">3.13 A closed Account may be reopened when requested by its owner and granted by QuickBet. In such circumstances, he/she will be subject to the Terms of Use that are in force at the date of the re-opening.</p>
                        <p class="_ans">3.14 QuickBet retains the right to exclude Users from its services at its discretion. In this case, we shall refund the residual credit balance in the Account using the same payment method provided upon registration, or any other payment methods adopted subsequently by the customer upon their appropriate verification. If the Account has been closed due to an infringement pursuant to the Terms of Use or to a prohibited behavior leading to collusion, Fraud or whatsoever Criminal Activity, the residual credit balance shall be forfeited. The same procedure shall be applied to open bets that result in winnings.</p>
                        <p class="_ans">3.15 If a Customer does not access his Account by “logging in” using his Account name and security details for any period of six calendar months, his account shall be deemed to be “Inactive”.</p>
                        <p><strong>4.	DEPOSITS AND WITHDRAWALS</strong></p>
                        <p class="_ans">4.1 The Customer has the possibility to increase the credit balance of his Account with one of the payment methods made available by Quick Bet Nigeria Limited.</p>
                        <p class="_ans">4.2 The Customer warrants that he/she shall not use the payment methods that belong to any third party.</p>
                        <p class="_ans">4.3 Any deposits that are subject to the bonus promotion offer will be regulated by the bonus promotion rules and may not be available for withdrawal.</p>
                        <p class="_ans">4.4 The Customer can withdraw the available credit balance of the Account using the same payment method provided upon registration, or any other payment method adopted subsequently by the customer once the full and appropriate verification has been completed.</p>
                        <p class="_ans">4.5 Withdrawals will be remitted only to the same account from which funds paid into the player’s account originated subject to the payment providers’ restrictions. No withdrawal will be authorized if it appears to be linked with transactions predominantly performed with the purpose of allowing the transfer of money from one payment method to the other.</p>
                        <p class="_ans">4.6 In order to perform any transaction, QuickBet shall undertake any such verification checks as may be required by itself or by third parties (including, but not limited to regulatory bodies) to confirm the legal ownership and the origin of the money implicated, the identity of the applicant and to comply with the relevant Anti Money Laundering Provisions.</p>
                        <p class="_ans">4.7 QuickBet shall suspend the availability of any withdrawal method and/or the withdrawal function available in your account until the completion of the verification checks in relation to the validity of any of the documents you send and, in some limited circumstances, suspend any activity of any account it may deem necessary should it have reasonable grounds to suspect or establish prohibited or illicit activity.</p>
                        <p class="_ans">
                            4.8 In order to withdraw your money, Customer shall be requested to furnish a copy of his ID (front/rear).
                        </p>
                        <p class="_ans">
                            4.9 Whenever a transaction is made through bank transfer, credit card or electronic wallet, the first withdrawal request shall be processed only after a security check has been performed and/or in any other circumstances QuickBet may deem necessary (for example, large sum withdrawals). In such instances you may be required to supply any or all of the following documents together with the ID, in order to comply with our security policies: <br />
                            <span class="_ans">a. In case of credit card transactions, a copy of both sides of the card used to make the payment duly signed by the owner;</span><br />
                            <span class="_ans">b. a copy of an official document (bank statement, debit card statement etc.) showing your billing address;</span><br />
                            <span class="_ans">c. Any other document that may be relevant in order to complete the check. </span>
                        </p>
                        <p class="_ans">4.10 Full compliance with our requests will speed up the verification process.</p>
                        <p class="_ans">4.11 All withdrawals from gaming accounts shall be subject to audit before being processed. If the audit shows that the Customer has violated the provisions of the Terms of Use, QuickBet shall reclaim any bonuses or winnings previously attributed.</p>
                        <p class="_ans">
                            4.12 Payouts handled manually through an ordinary bank transfer are processed within 5 banking days.
                        </p>
                        <p class="_ans">4.13 QuickBet does not accept any liability for any delays which may be due to the payment provider.</p>
                        <p class="_ans">
                            4.14 As an alternative, withdrawals to e-wallets such as Neteller, Skrill Moneybookers etc. are usually processed within 24 hours from the request.
                        </p>
                        <p class="_ans">4.15 The Customer agrees not to attempt any charge-backs, reversals or otherwise cancel any deposit previously made in his/her Account. Whenever any such event should occur the Customer commits to refund QuickBet for the unpaid deposits and for possible expenses resulting from the recollection of the misplaced money.</p>
                        <p class="_ans">
                            4.16 The Account is a deposit holding facility, current or savings account or any other financial product, shall not generate interest and the deposits are made into the Account for the purposes of genuine play.
                        </p>
                        <p class="_ans">
                            4.17 QuickBet is under no obligation to repay money to the Customer as his/her debtor.
                        </p>
                        <p class="_ans">4.18 Quick Bet reserves the right to limit or to refuse any game.</p>

                        <p><strong>5.	LEGAL USE OF THE WEBSITE AND OF ITS COMPONENTS</strong></p>
                        <p>
                            Under no circumstances shall the Website be used for any purpose different from personal entertainment without our express consent. QuickBet is not liable for any attempts to use the services offered by means or ways not intended by it.
                        </p>
                        <p>
                            All Trademarks, Domains, Terms of Use, Logos, Images and any other material used by or in QuickBet’s products (e.g. graphics, pictures, text etc.), as well as any other content or underlying idea that can be found within the Website, are owned by QuickBet and protected by copyright in their entirety and shall not be modified, reproduced and redistributed, in whole or in part, without QuickBet’s express previous written permission. All necessary legal actions shall be undertaken in order to ensure compliance to this policy.
                        </p>
                        <p>
                            Any action aimed to interfere with the normal functioning of the website including, but not limited to, releasing or propagating viruses, worms or logic bombs or similar is strictly prohibited and shall be pursued to the fullest extent permitted by law.
                        </p>
                        <p>
                            QuickBet reserves the right to restrict access to certain parts of the Website and to certain services offered.
                        </p>
                        <p>
                            QuickBet may at any time and without previous notice, remove or amend any product offered via the Website, as well as alter available prices where such alterations do not affect bets already in progress.
                        </p>
                        <p>
                            Under some circumstances, QuickBet may provide its Customers with software designed internally or by third parties in order to optimize the functioning of the Website or to benefit from additional services. In such circumstances the Customer may be asked to accept further Terms and Conditions related to the utilization of the new component. Any attempt to interfere with, modify or reverse engineer any software provided is strictly prohibited.
                        </p>
                        <p>
                            QuickBet is not liable for any possible IT failures caused by the electronic equipment used by the Customer while accessing the Website or for faults due to the internet service provider used by the Customer while accessing the Website.
                        </p>
                        <p>
                            <strong>
                                LINKING TO OUR WEBSITE AND FROM OUR WEBSITE
                            </strong>
                        </p>
                        <p>
                            The Customer may link to QuickBet’s home page, provided he does so in a website owned by him/her, and in a way that is fair and legal and does not damage our reputation or take advantage of it.
                        </p>
                        <p>
                            Links shall not be established in such a way as to suggest any form of association, approval, sponsorship or endorsement on the part of QuickBet without its express written consent.
                        </p>
                        <p>
                            Where the Website contains links to other websites and resources provided by our partners or other third parties, these links are provided for information only and QuickBet does not make any representations regarding the accuracy and reliability of contents available on such third-party websites. QuickBet has no control over the contents of those websites and therefore accepts no responsibility for them or for any loss or damage that may arise from their utilization.
                        </p>
                        <p><strong>7.	BONUSES / PROMOTIONS & REWARDS</strong></p>
                        <p>QuickBet may make available on the website the bonus offers, promotions or reward programs. A Customer can find more information on the website, in the Account or the Help pages.</p>
                        <p>A Customer’s eligibility for the offer or promotion and/or participation in the rewards program shall be subject to the terms and conditions for the respective bonus offer, promotion or rewards program available on the website at all times.</p>
                        <p>QuickBet reserves the right to deny admission or to terminate admission to any of the bonuses, promotions and/or special offerings, as well as to modify, suspend or discontinue their validity at its sole discretion and without informing the Customer.</p>
                        <p><strong>8.	TRANSFER OF FUNDS BETWEEN GAMING ACCOUNTS</strong></p>

                        <p>A Customer may transfer the funds from his gaming Account to another gaming Account according to the terms of this Section (the “Transfer of funds” or “Transferred funds”).</p>
                        <p>Transfer of funds is allowed between gaming Accounts only. Transferred funds can be used for gaming activity and must be turned over at least once with qualifying, settled bets. Transferred funds cannot be used to obtain or contribute towards a bonus or promotion.</p>
                        <p>
                            QuickBet reserves the right to request proof of identification at any time if required. Transfer limits (see below) cannot be adjusted or changed for any reason. Transfer of funds cannot be reversed or cancelled.
                        </p>
                        <p>

                            QuickBet reserves the right to exclude users from any service at its discretion. If QuickBet recognizes any prohibited behavior as a result of transferred funds both accounts shall be suspended without notice.

                        </p>
                        <p>
                            <strong>
                                9.	WARRANTY
                            </strong>
                        </p>

                        <p>
                            QuickBet shall provide the Services with reasonable skill and care in accordance with the Terms and Conditions. QuickBet does not warrant the constant availability and functionality of all or any products offered by it.
                        </p>
                        <p>
                            QuickBet does not warrant that the Services will:
                        </p>
                        <p class="_ans">
                            (a)	be compatible with all or any hardware or software which a Customer may use; <br />
                            (b)	be available all the time or at any specific time; <br />

                            (c)	be entirely error-free or free of viruses, electronic bugs, Trojan horses or other harmful components; and <br />

                            (d)	meet the Customer’s requirements.


                        </p>

                        <p><strong>10. LIMITATION OF LIABILITY</strong></p>
                        <p class="_ans">
                            10.1 QuickBet shall not be held liable and shall be held harmless by the Customer for any damages, losses, costs, loss of profits or any other disadvantage a Customer may incur in


                            connection with any disconnection from or the non-availability of any of the products offered by QuickBet for whatever reason.
                        </p>
                        <p class="_ans">
                            10.2 QuickBet does not acknowledge or accept any liability for damage and/or losses to a
                            Customer caused directly and/or indirectly due to any: <br />

                            a.	mistake, misprint, misinterpretation, mishearing, misreading, mistranslation, spelling mistake, fault in reading, transaction error, technical failure, technical hazard, registration error, manifest error; <br />

                            b.	Force Majeure; <br />
                            c.	violation of the Rules, Terms and Conditions by the Customer; <br />
                            d.	collusion and/or criminal actions by the Customer; <br />

                            e.	advice or recommendations provided by Quickbet or third party via the Services or Website; <br />

                            f.	financial market fluctuations, including but not limited to variances in exchange rates.
                        </p>

                        <p class="_ans">
                            10.3 QuickBet shall under no circumstances whatever be liable to the Customer, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, for any loss or damage  arising  under  or  in  connection  with  the  Customer’s  use  of  the  Services  or QuickBet’s  failure  to  comply  with  the  Terms  &  Conditions  that  is  not  reasonably

                            foreseeable to both QuickBet and the Customer at the time of entering the Contract.
                        </p>
                        <p class="_ans">
                            10.4 QuickBet shall not be liable if the Customer is unable to play a game due to congestion on the sms system or any other electronic communication media used for the purposes of gaming.
                        </p>
                        <p class="_ans">
                            10.5 QuickBet shall not be liable in respect of any losses arising out of any acts or omissions of any hosting services provider, payment services provider or other third party services provider.
                        </p>
                        <p class="_ans">

                            10.6 Subject to paragraph 10.3, QuickBet’s total liability to a Customer in respect of all losses arising under or in connection with any wager placed or game played by the Customer whether in contract, tort (including negligence), breach of statutory duty, or otherwise, shall (to the fullest extent permissible by law) in no circumstances exceed the amount of the relevant wager or game played by the Customer that gave rise to the claim.
                        </p>

                        <p>
                            <strong>
                                11.	CUSTOMER’S LIABILITY
                            </strong>
                        </p>
                        <p>
                            Customer acknowledges that any use of QuickBet’s Content or the Services in a manner not expressly permitted by the Terms and Conditions shall mean that the Customer is infringing QuickBet’s rights and/or the rights of QuickBet’s third party licensors or put QuickBet in breach of its obligations towards others and QuickBet and its licensors reserve all rights and remedies against the Customer in respect of any such infringement.
                        </p>
                        <p>
                            The Customer hereby agrees to compensate QuickBet in respect of any loss, cost, damage, expense or liability QuickBet may suffer as a result of: <br />

                            (a)	the Customer’s breach of these Terms of Use; and/or <br />
                            (b)	the Customer’s unauthorized use of Content and/or the Services.

                        </p>
                        <p>
                            <strong>
                                12. FURTHER TERMS
                            </strong>
                        </p>

                        <p>
                            All indicated dates and times are based on WAT (West Africa Time) unless stipulated otherwise.
                            The gaming service is available in Nigerian Naira (NGN) only.

                        </p>
                        <p>
                            Any exception to the existing Terms of Use will be communicated in written form to the Customer. Any verbal statement made by QuickBet’s employees or affiliates shall not be considered in case of a dispute.
                        </p>
                        <p>
                            The Customer agrees that QuickBet may use the name, town/city of residence and/or the image of the Customer for publicity or our own promotional material. QuickBet may contact the customer to provide such material and funds may be temporarily withheld until such time the requested material has been received. QuickBet would only seek this material in the event of a large (in excess of NGN 1 million) win on any of QuickBet’s products or competitions. QuickBet would always make every reasonable attempt of contacting the Customer before using/requesting such material (reasonable is defined as three attempted contact attempts by telephone, e-mail or text message).
                        </p>

                        <p>
                            <strong>13. WAIVER</strong>
                        </p>

                        <p>In no event will any delay, failure or omission (in whole or in part) in enforcing, exercising or pursuing any right, power, privilege, claim or remedy conferred by or arising under these Terms and Conditions or by law, be deemed to be or construed as a waiver of that or any other right, power, privilege, claim or remedy in respect of the circumstances in question, or operate so as to bar the enforcement of that, or any other right, power, privilege, claim or remedy, in any other instance at any time or times subsequently.</p>
                        <p>
                            <strong>14. SEVERABILITY</strong>
                        </p>
                        <p>
                            If any provision of these Terms and Conditions is found by any court or administrative body of competent jurisdiction to be invalid or unenforceable, such invalidity or unenforceability shall not affect the other provisions of these Terms and Conditions which shall remain in full force and effect.
                        </p>
                        <p>
                            In such instances, the part declared invalid or unenforceable shall be amended in a manner consistent with the applicable law to reflect, as closely as possible, QuickBet’s original intent.
                        </p>
                        <p>
                            <strong>
                                15. RESPONSIBLE GAMING
                            </strong>
                        </p>

                        <p>
                            QuickBet believe in Responsible Gaming and takes responsibility in this matter seriously. Gambling should be an exciting pastime, and we urge our Customers to have fun, but not play beyond their means. QuickBet is committed to endorsing responsible wagering among its Customers as well as promoting the awareness of problem gambling and improving prevention, intervention and treatment.
                        </p>
                        <p>
                            We undertake to ensure your pleasant online gaming experience on QuickBet, while creating awareness of the financial harms associated with problem gambling. With regard to the purposes pointed out herewith, we do strongly suggest our Customers clearly separate gambling from his/her


                            daily activities; try to establish affordable deposit limits; try to consider the lasting time of each gambling session before its commencing; and not to understand gambling as an alternative source of income or a way to recoup debit;

                        </p>
                        <p>
                            At any time, the Customer may request our Customer Service to temporary or permanently effect self-exclusion from part or all of our services as well as the closure of his/her account. We will use all reasonable endeavors to ensure compliance with self-exclusion; however, you accept that we are not liable if you manage to by-pass our security measures in circumstances which are beyond our reasonable control.
                        </p>

                        <p>
                            <strong>16. COMPLAINT</strong>
                        </p>
                        <p>If you wish to make a complaint or a suggestion regarding QuickBet, the Website or the Services offered, as a first step, contact our Customer Services or send us an email through info@quickbetng.com.</p>
                        <p>
                            As second step, the complaint shall be assigned to an advisor that will provide you with the appropriate response. Should the complaint not be resolved as expected by you, a response shall be provided to you through internal message or email by the Customer Service Advisor who will report the final decision to you.
                        </p>

                        <p>
                            In the event that a complaint is not resolved to your satisfaction by QuickBet within 8 weeks of it being raised, the complaint becomes a dispute, and such dispute shall be referred to arbitration.
                        </p>
                        <p>
                            All claims and suggestions should be forwarded to the Customer Service in written form via internal message, fax, mail or e-mail. No complaints with regard to the acceptance, settlement or resettlement of a game will be heard by QuickBet if they are not raised through our Customer Services within 30 days from the event occurrence which the game related to occurred.
                        </p>
                        <p>
                            Offensive or rude language, as well as malicious or damaging comments, shall not be tolerated while contacting our staff or while discussing our products and services in any media, social network or forum. Any infringement of this policy shall result in a suspension of the Account or in additional action as may be required in order to ensure compliance.

                        </p>

                        <p>
                            <strong>17. APPLICABLE LAW AND JURISDICTION</strong>
                        </p>
                        <p>
                            Any game played by the Customer shall be governed by the laws of Nigeria, as amended from time to time. It shall be the responsibility of the Customer to ensure that he/she is aware of these provisions.
                        </p>
                        <p>
                            The gaming contract, as well as any other legal relationship between the Customer and QuickBet, for every circumstance not regulated by the Terms of Use, is subject to Nigerian laws.
                        </p>
                        <p>
                            If the Customer plays a game from a location falling outside Nigeria, such game shall be subject to all appropriate exchange control regulations. QuickBet makes no warranties and shall not be


                            liable to the Customer if it is not able to remit any monies held by it to any account held by the Customer in a foreign jurisdiction.

                        </p>

                        <p>
                            Any and all disputes arising out of or in connection with QuickBet Terms & Conditions and use of the Services and/or Website shall be settled in accordance with the Governing Law. Subject to the provisions of Paragraph 16, all disputes shall be subject to the exclusive jurisdiction of the Nigerian courts.
                        </p>
                        <p>
                            <strong>18. PALPABLE ERRORS</strong>
                        </p>
                        <p class="_ans">

                            Some circumstances may arise where a game is confirmed, or a payment is performed, by us in error. The following is a non-exhaustive list of such circumstances: <br />

                            a.	Whenever the prices/spreads/terms offered by QuickBet are significantly dissimilar from those available in the general market, <br />

                            b.	Whenever the prices/spreads/terms offered at the time the game is play ed are clearly wrong given the probability of the forecast occurring, <br />

                            c.	Whenever a game has been erroneously accepted on a market which should have been suspended or removed, <br />

                            d.	Where a game containing incompatible events is accidentally accepted, because of human or technical error, <br />

                            e.	Whenever a settlement error is made while computing or crediting the amount of winnings, <br />
                            f.	Any other situation that may be referred to as an error.

                        </p>

                        <p>
                            In all these cases QuickBet reserves the right to cancel all the games accepted containing such an error, or to correct the mistake made re-settling all the games at the correct prices/spreads/terms that should have been available at the time that the game was played in the absence of the error.
                        </p>
                        <p>

                            The Customer has an obligation to inform QuickBet as soon as possible of any amount wrongly credited on his/her account. QuickBet may at any time set off any positive balance resulting from the erroneous operation, as well as cancel possible transactions made with the erroneously credited funds. QuickBet further has the right to suspend and/or close the Account who is found to have abused the error or malfunction and have any deposits and/or winnings forfeited. QuickBet reserves the right to correct any error made in relation to the game and re-settle the same at the correct price or according to the individual game rules or if it not practicable to correct and resettle, to declare the game void and return the original stake to the account. Quick Bet Nigeria Limited can deduct the overpaid amount from the balance available in the Account.

                        </p>
                        <p>
                            By accessing any of the products and the Account, the Customer will not do anything to corrupt the website, attempt to gain unauthorized access to any account, knowingly or negligently use any features that may affect and/or alter the products’ functionality in any way and/or attempt to or remove or alter any content form website.
                        </p>

                        <p>
                            Neither we (including our employees or agents) nor our partners or suppliers are liable for any loss resulting from any error made. Games played in order to cover flawed games will stand valid if not impaired by errors.
                        </p>
                        <p>
                            In the event of any dispute, the Customer agrees that the records of our server shall act as the final authority in determining the outcome of any claim.
                        </p>
                        <p><strong>19. TERMINATION</strong></p>

                        <p>QuickBet shall have the right, prior to accepting any game, temporarily to suspend or permanently to terminate, the provision of gaming services to a Customer without providing any reason.</p>
                        <p><strong>These General Terms and Conditions are effective from 12/03/2021</strong></p>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
<!-- ==========Faq-Section========== -->
